.noteForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.noteForm input,
.noteForm textarea {
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.noteForm input[type='color']{
  width: 5%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 1rem;
}

.noteForm button {
  width: 10%;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 1rem;
}

.noteForm button:hover {
  background-color: #45a049;
}

@media (max-width: 768px) {
  .noteForm button{
    width: 35%;
  }

  .noteForm input[type='color']{
    width: 10%;
  }

  .noteForm input,
.noteForm textarea{
  width: 80%;
}
}